body {
  font-family: $atyp;
  font-weight: 400;
  color: #fff;

  background-color: #0b0b0b;
}

#preloader {
}

header {
}

footer {
}

section {
  @apply h-screen bg-center bg-no-repeat relative;
  background-size: 100%;

  &.animated {
    .reveal {
      transform: translate(0) !important;
      translate: 0 !important;
      rotate: 0deg !important;
      scale: 1 !important;
      opacity: 1 !important;
    }

    .reveal-anim {
      &.animated {
        animation-fill-mode: forwards;
        animation-name: revealAnim;
      }
    }

    .reveal-width {
      width: 100% !important;
    }
  }
}

div {
  &.animated {
    .reveal {
      transform: translate(0) !important;
      translate: 0 !important;
      rotate: 0deg !important;
      scale: 1 !important;
      opacity: 1 !important;
    }

    .reveal-width {
      width: 100% !important;
    }
  }
}

p {
  @apply text-[1.182vw];
  font-family: $area;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-normal;
}

h1 {
}

h2 {
  font-size: 3.546vw !important;
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

big {
}

.gold-texture {
  background-image: url('/images/texture.jpg');
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gold {
  color: $gold;
}

.section-top {
  @apply w-full flex flex-col gap-[3vh];
}

.section-gold-line {
  @apply flex items-center w-full;

  .circle {
    @apply w-[0.355vw] h-[0.355vw] rounded-full bg-[#EFBD70];
  }

  .line {
    @apply w-full h-[0.1vh];
    background: linear-gradient(
      90deg,
      rgba(239, 189, 112, 1) 0%,
      rgba(30, 30, 30, 1) 40%
    );
  }
}

.section-row-flex {
  @apply flex items-start justify-between;
}

.section-label-block {
  @apply flex gap-[1.773vw];

  h2 {
    @apply uppercase;
    line-height: 92.5%;

    .section-title {
      @apply italic capitalize;
    }
  }

  .section-index {
    @apply text-[1.300vw] font-medium opacity-90;
    font-family: $area;
    line-height: 136%;
  }
}

.section-text-block {
  @apply w-full flex flex-col gap-[3vh];

  p {
    @apply opacity-90;
  }

  .button-group {
    @apply flex gap-[0.887vw];
  }
}

.section-span {
  @apply text-[1.323vw] opacity-[0.3];

  @media (max-width: $tablet) {
    @apply text-[5.128vw];
  }

  > div[class='reveal'] {
    @apply opacity-0 translate-y-full;
    transition-duration: 1s;
  }

  line-height: 150%;
}

.container {
  @apply w-full h-full px-[4.137vw] pb-[3.90625vh] pt-[15vh] relative;

  max-width: 100% !important;
}

.fp-overflow {
  height: 100% !important;
  width: 100% !important;

  &::-webkit-scrollbar {
    display: none;
  }
}

.hidden-letter {
  opacity: 0;
  pointer-events: none;
}

.reveal {
  transition-duration: 0.5s;
  transition-property: opacity, scale, translate, rotate, transform;

  &.reveal-width {
    transition-property: opacity, scale, translate, rotate, transform, width;
  }
}

.fp-watermark {
  display: none;
}

@keyframes revealAnim {
  to {
    transform: translate(0);
    translate: 0;
    rotate: 0deg;
    scale: 1;
    opacity: 1;
  }
}
