body {
  font-family: $area;
  font-size: 18px;
  color: $text;
  background-color: $black;

  overflow-x: hidden;

  @media (max-width: $tablet) {
    font-size: 14px;
  }

  &::-webkit-scrollbar {
    appearance: none;
    width: 6px;
    background-color: $black;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gold-thumb;
    border-radius: 3px;
  }
}

section {
  min-height: 100vh;
  height: fit-content;
  position: relative;

  @media (max-width: $tablet) {
    min-height: unset;
  }
}

p {
  &.reveal {
    opacity: 0;
    translate: 0 50%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 95.2%;
  font-weight: 400;
  font-family: $atyp;

  padding-bottom: 10px;

  overflow: hidden;

  span.reveal {
    display: inline-block;
    opacity: 0;
    translate: 0 50%;
    position: relative;
  }
}

h1 {
  font-size: 80px;

  @media (max-width: $tablet) {
    font-size: 36px;
  }
}

h2 {
  font-size: 50px;

  .letter-spacer {
    width: 16px;
  }

  @media (max-width: $tablet) {
    font-size: 26px;
  }
}

h3 {
  font-size: 45px;

  @media (max-width: $tablet) {
    font-size: 26px;
  }
}

h4 {
  font-size: 35px;

  @media (max-width: $tablet) {
    font-size: 22px;
  }
}

h5 {
  font-size: 27px;

  @media (max-width: $tablet) {
    font-size: 20px;
  }
}

.letter-hidden {
  opacity: 0 !important;
}

.cyndicate-span {
  font-family: $atyp;
  text-transform: uppercase;
}

.c-token {
  font-family: $area;
  font-weight: 50;
  text-transform: uppercase;

  color: $gold-primary;
}

.container {
  width: 100%;
  height: 100%;

  padding: 70px;

  @media (max-width: $tablet) {
    padding: 50px 16px;
  }
}

.c-gold-primary {
  color: $gold-primary;
}

.c-gold-secondary {
  color: $gold-secondary;
}

#hero {
  background-image: url('/images/bg_hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .container {
    padding: 200px 70px 90px;

    @media (max-width: $tablet) {
      padding: 200px 16px 50px;
    }
  }

  .wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 73px;
  }

  .bottom-row {
    width: 100%;

    margin: auto 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $tablet) {
      justify-content: center;
    }

    > div {
      &:nth-child(2) {
        translate: 10% 0;

        @media (max-width: $tablet) {
          translate: 0;
        }
      }
    }

    p {
      line-height: 160%;
      position: relative;

      opacity: 0;
      translate: 0 25%;

      @media (max-width: $tablet) {
        display: none;
      }

      .star {
        position: absolute;
        top: -100%;
        right: 0;

        display: block;

        opacity: 0;
        translate: -100% 0;
        scale: 0.5;
      }
    }
  }

  .countdown {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;

    width: fit-content;

    opacity: 0;
    translate: 0 25%;

    .date {
      display: flex;
      align-items: center;
      gap: 80px;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          font-size: 60px;
          font-family: $atyp;
          line-height: 92.5%;
        }

        p {
          line-height: 160%;
        }
      }
    }

    .progress {
      width: 100%;
      height: 5px;

      background-color: $text;

      border-radius: 80px;

      overflow: hidden;

      .thumb {
        width: 70%;
        height: 100%;

        background-image: url('/images/texture.jpg');
        background-size: cover;
        background-position: center;
      }
    }
  }
}

#community {
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      line-height: 160%;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    > div {
      width: 8px;
      height: 8px;

      border-radius: 50%;

      background-color: $text;

      transition: 0.5s ease;
      transition-property: width, height, background-color;

      &.active {
        background-color: $gold-span;
        width: 15px;
        height: 15px;
      }
    }
  }

  .benefits-swiper {
    width: 100%;

    .swiper-wrapper {
      width: 100%;
      display: flex;
    }

    .swiper-slide {
      min-width: 100%;
      width: 100%;
    }
  }

  .wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 45px;

    @media (max-width: $tablet) {
      gap: 25px;

      align-items: center;
    }
  }

  .benefits-community {
    display: flex;
    gap: 15px;

    @media (max-width: $tablet) {
      gap: 0;
      overflow: hidden;
      width: 100%;
    }
  }
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

#waitlist {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  height: 100vh !important;

  #waitlist-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #waitlist-bg-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;

    translate: -50% -50%;
    scale: 1.5;

    @media (max-width: $tablet) {
      scale: 1;
    }

    &.draw {
      path {
        stroke-dashoffset: 0;
      }
    }

    path {
      stroke-dasharray: 2500;
      stroke-dashoffset: 2500;

      transition: 8s ease;
      transition-property: stroke-dasharray, stroke-dashoffset;

      &:nth-child(n + 8) {
        translate: 7.5% 0;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 50px;
  }
}

#footer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  @media (max-width: $tablet) {
    flex-direction: column;

    margin-top: 70px;
    gap: 60px;
  }
}

.social-links {
  display: flex;
  gap: 6px;

  svg {
    path {
      transition: fill 0.5s ease;
    }
  }

  > a {
    transition: border-color 0.5s ease;

    &:hover {
      border-color: $gold-primary !important;

      svg {
        path {
          fill: $gold-primary;
        }
      }
    }
  }

  &.reveal {
    opacity: 0;
    translate: -25% 0;
  }

  &.gold {
    > a {
      border-color: $gold-primary !important;

      &:hover {
        border-color: $text !important;

        svg {
          path {
            fill: $text;
          }
        }
      }
    }

    svg {
      path {
        fill: $gold-primary;
      }
    }
  }
}

// conditions

.hidden {
  opacity: 0;

  transition: 0.3s ease;
  transition-property: opacity, scale;
}

.reveal {
  transition: 0.3s ease;
  transition-property: opacity, scale, translate, rotate;
}
