// fonts
$area: 'Area Inktrap';
$atyp: 'Atyp Display';

// colors
$gold-primary: #d4a455;
$gold-secondary: #efbd70;
$gold-span: #ffc656;
$gold-thumb: #caa35d;

$black: #0b0b0b;
$smoke-black: #1e1e1e;
$text: #ffffff4d;
$gray: #626262;

// breakpoints
$laptop_big: 1760px;
$laptop: 1440px;
$laptop_small: 1280px;
$tablet_big: 1140px;
$tablet: 768px;
$tablet_small: 656px;
$mobile_big: 565px;
$mobile: 465px;
$mobile_small: 376px;
