.capitalCard {
  @apply h-[45vh] w-[22vw] relative duration-[750ms] rounded-[1.773vw];

  transition-property: transform, box-shadow;
  transform-style: preserve-3d;

  &:nth-child(1) {
    @apply rotate-[7deg];
  }

  &:nth-child(2) {
    @apply rotate-[-7deg];
  }

  &:nth-child(4) {
    @apply rotate-[7deg];
  }

  &:nth-child(5) {
    @apply rotate-[-7deg];
  }

  background: linear-gradient(
    135deg,
    rgba(239, 189, 112, 0.75) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(239, 189, 112, 0.75) 100%
  );

  &:hover {
    transform: rotateY(180deg);
    box-shadow: 0px 0px 60px 0px rgba(212, 164, 85, 0.66);
  }

  .side {
    @apply absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-center px-[1.773vw] rounded-[1.773vw] scale-[0.995];
    backface-visibility: hidden;

    .title {
      color: $gold;
      line-height: 100%;
    }
  }

  .front {
    @apply z-[1] gap-[1.95vh];

    background: rgba(11, 11, 11, 1);

    .logo {
      @apply w-[6.738vw] h-[14.0625vh];

      img {
        @apply w-full h-full object-contain object-center;
      }
    }

    .title {
      @apply text-[1.478vw] capitalize;
      line-height: 100%;
    }
  }

  .back {
    @apply gap-[1vh];

    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);

    .title {
      @apply text-[1.418vw];
    }

    .text {
      @apply text-[0.8vw] opacity-60;
    }
  }
}
