.hero {
  @apply h-screen;

  background-image: url('/images/backgrounds/hero-bg.png');

  div[class='container'] {
    @apply flex flex-col;
  }

  &Wrapper {
    @apply w-full h-fit mt-auto flex items-stretch justify-start gap-[11.4vw];
  }

  &Block {
    @apply flex flex-col gap-[6.35vh];

    &:first-child {
      @apply max-w-[40vw] w-full;
    }

    &:last-child {
      @apply gap-0 justify-between;
    }
  }

  //

  .group {
    @apply flex flex-col gap-[6.35vh];
  }

  .arrow {
    @apply w-[1.762vw] h-[1.38vh];

    svg {
      @apply w-full h-full;
    }
  }

  .scrollLabel {
    @apply flex items-center text-[0.783vw] gap-[1.828vw] uppercase absolute right-0 top-1/2 translate-y-[-50%] rotate-[-90deg];

    line-height: 80%;

    color: $light-grey;
  }

  .text {
    @apply max-w-[12.7vw] w-full;
    font-weight: 50;
  }
}
