.aboutUs {
  @apply h-fit min-h-[0];

  div[class='container'] {
    @apply flex flex-col gap-[16vh] pb-0;
  }

  &Wrapper {
    @apply w-full flex items-start justify-between;

    @media (max-width: $tablet) {
      @apply flex-col gap-[14.103vw];
    }
  }

  &Text {
    @apply flex flex-col gap-[8vh] max-w-[58.420vw] w-full;

    @media (max-width: $tablet) {
      @apply max-w-[100%] gap-[14.103vw];
    }

    .text {
      @apply text-[2.089vw];

      @media (max-width: $tablet) {
        @apply text-[6.154vw];
      }

      > div {
        transition: color 0.5s ease !important;

        > div {
          transition: color 0.5s ease !important;
        }
      }

      span {
        @apply text-[2.089vw];
        color: $gold-primary !important;

        @media (max-width: $tablet) {
          @apply text-[6.154vw];
        }

        > div {
          color: $gold-primary !important;

          > div {
            color: $gold-primary !important;
          }
        }
      }

      color: rgba(255, 255, 255, 0.3);
    }
  }
}
