.button {
  position: relative;

  .content {
    position: relative;

    border-radius: 43px;

    padding: 16px 36px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

    background: #191919;
    color: #fff;

    z-index: 1;
  }

  .border {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    z-index: 0;

    width: 100%;
    height: 100%;

    border-radius: 43px;

    background-image: linear-gradient(
      rgba(226, 184, 97, 0),
      rgba(226, 184, 97, 1)
    );

    translate: 0 1.5%;
  }
}
